
hidden = [".config", "package-lock.json"]
run = "node src/sharding.js"
entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[[hints]]
regex = "Error \\[ERR_REQUIRE_ESM\\]"
message = "We see that you are using require(...) inside your code. We currently do not support this syntax. Please use 'import' instead when using external modules. (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)"

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/$REPL_SLUG/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "package.json", "package-lock.json"]

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[debugger]
support = true

  [debugger.interactive]
  transport = "localhost:0"
  startCommand = [ "dap-node" ]

    [debugger.interactive.initializeMessage]
    command = "initialize"
    type = "request"

      [debugger.interactive.initializeMessage.arguments]
      clientID = "replit"
      clientName = "replit.com"
      columnsStartAt1 = true
      linesStartAt1 = true
      locale = "en-us"
      pathFormat = "path"
      supportsInvalidatedEvent = true
      supportsProgressReporting = true
      supportsRunInTerminalRequest = true
      supportsVariablePaging = true
      supportsVariableType = true

    [debugger.interactive.launchMessage]
    command = "launch"
    type = "request"
    
      [debugger.interactive.launchMessage.arguments]  
      args = []
      console = "externalTerminal"
      cwd = "."
      environment = []
      pauseForSourceMap = false
      program = "./index.js"
      request = "launch"
      sourceMaps = true
      stopOnEntry = false
      type = "pwa-node"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "node src/sharding.js"]

[[ports]]
localPort = 35375
externalPort = 3001

[[ports]]
localPort = 35569
externalPort = 6800

[[ports]]
localPort = 36193
externalPort = 8000

[[ports]]
localPort = 36311
externalPort = 3002

[[ports]]
localPort = 36571
externalPort = 8008

[[ports]]
localPort = 37907
externalPort = 6000

[[ports]]
localPort = 38257
externalPort = 9000

[[ports]]
localPort = 38741
externalPort = 3000

[[ports]]
localPort = 38793
externalPort = 8081

[[ports]]
localPort = 39639
externalPort = 4200

[[ports]]
localPort = 40627
externalPort = 8080

[[ports]]
localPort = 42903
externalPort = 3003

[[ports]]
localPort = 42963
externalPort = 8099

[[ports]]
localPort = 43009
externalPort = 5173

[[ports]]
localPort = 46347
externalPort = 5000

[[ports]]
localPort = 46423
externalPort = 80
